<!--use the /candles action and the post method.-->
<!DOCTYPE html>
<html>
<head></head>
<body>
<form action="/candles" method="post"
  <label for="candles">"Please enter the number of candles."</label><br>
  <input type="text" name="candles" value="0">
  <input type="submit" value="Submit">
</body>
</html>

